@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b; /* Zinc 950 */
    --foreground: #fafafa; /* Zinc 50 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
